<p id="notice"><%= notice %></p>

<h1><%=I18n.translate('.users')%></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=I18n.translate('.firstname')%></th>
      <th><%=I18n.translate('.lastname')%></th>
      <th>Email</th>
      <th><%=I18n.translate('.bio')%></th>
      <th>Description</th>
      <th><%=I18n.translate('.comments')%></th>
      <th><%=I18n.translate('.price')%></th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.biography %></td>
        <td><%= user.description %></td>
        <td><%= user.comments %></td>
        <td><%= user.price %></td>
        <td><%= link_to I18n.translate('.show'), user %> |
        <%= link_to I18n.translate('.edit'), edit_user_path(user) %> |
        <%= link_to I18n.translate('.destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.translate('.newuser'), new_user_path %>
